<!DOCTYPE html>
<head>

    <style>

*{
    padding: 0;
    margin: 0;
}

.wrap{
    width: 100vw;
    height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


    </style>
</head>

<body>

<div class="wrap">

<div class="shop-manage-wrap-3">
    <div class="shop-manage-tab-1">
        <button class="shop-sell" onclick="location.href = `/owner/mypage/1`">
            매출 관리
        </button>
        <button class="shop-menu">
            메뉴 관리
        </button>
        <button class="shop-stamp">스탬프 관리</button>
        <button class="shop-marry" onclick="location.href = `/owner/mypage/4`" >성향 서비스</button>
        </div>


    <div class="marry-manage-container">
        <div class="attract">ATTRACT</div>
        <div class="attract-title">성향 매칭 서비스</div>
        <div class="attract-content">월 10,800원으로 카페의 성향을 자랑해보세요~</div>
        <div class="attract-content-2">성향 매칭 검색결과 노출 / 카페 노출 결과 증가</div>
        <button class="register">가입하기</button>
    </div>

</div>
 
</div>


</html>