<!DOCTYPE html>
<html>
  <head>
    <style>
      .wrap {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .container {
        width: 540px;
        height: 430px;
        display: flex;
        align-items: center;
        justify-content: baseline;
        flex-direction: row;
        flex-wrap: wrap;
      }
    </style>
  </head>
  <body>
    <!-- 10개로 변환 -->

    <!-- 20개로 변환 -->
  </body>
</html>
