<!DOCTYPE html>
<html>
  <head>
    <style>
      .order-wrap {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .order-container {
        width: 540px;
        height: 430px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
      }
    </style>
  </head>
  <body>
    <div class="order-wrap">
      <div class="order-container">


        <input type = "text" name = "orderDate" value = ""/>
        <input type = "text" name = "customerId" placeholder="회원 아이디를 입력해주세요"/>
        <input type = "hidden" name = "basket" value = ""/>
    
        <button type = "submit">주문하기</button>

        </form>

        <h4>주문 총액</h4>

        <h3>할인 금액</h3>

      </div>
    </div>
  </body>
</html>
