<!-- <div class="stamp-frame"> -->
<!-- <div class="cafe-stamp"> -->
<div class="circle-1" id="stamp-dot">
  <img
    src="/images/<%= cafe_member[i].stamp_image %>.png"
    width="90px"
    height="90px"
  />
</div>
<!-- </div> -->
<!-- </div> -->
